.search-section {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
}

.search-input {
    width: 100%;
    max-width: 40rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.search-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.1);
}

.icon-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-search-card {
    width: 60px;
    /* 크기 조정 */
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-card img {
    width: 40px;
    height: 40px;
}

.icon-card span {
    font-size: 14px;
    margin-top: 8px;
    color: #333;
    text-align: center;
}